<div class="contenedor">
    <div class="div-izquierdo">
        <div class="div-superior">
            <div class="introduccion">
                <h1>¡Contáctanos!</h1>
                <p>Estamos aquí para responder tus preguntas y 
                    brindarte información adicional sobre nuestra
                     Maestría en Artes. Si deseas obtener más detalles 
                     sobre el programa, requisitos de admisión o cualquier 
                     otro aspecto, no dudes en contactarnos.</p>
            </div>
        </div>
        <div class="div-inferior">
            <div class="centered-image">
                <img src="../../../assets/images/Ubicacion.png" alt="Imagen centrada">
            </div>
        </div>
    </div>
    <div class="div-derecho">
        <!-- Contenido del div derecho -->
        <div class="div-centrado">
            <form [formGroup]="fGroup" action="procesar_formulario.php" method="post">
                <div class="form-titulo">
                    <h3>Ingresa tus datos</h3>
                </div>
                <div class="form-campos">
                    <label for="nombres">Nombres:</label>
                    <input formControlName="nombre" type="text" id="nombres" name="nombres" required>

                    <label for="apellidos">Apellidos:</label>
                    <input formControlName="apellidos" type="text" id="apellidos" name="apellidos" required>

                    <label for="departamento">Direccion:</label>
                    <input formControlName="direccion" type="text" id="departamento" name="departamento" required>


                    <label for="telefono">Teléfono:</label>
                    <input formControlName="telefono" type="tel" id="telefono" name="telefono" required>

                    <label for="email">Correo Electrónico:</label>
                    <input formControlName="correo" type="email" id="email" name="email" required>

                    <label for="tipo-mensaje">Tipo de Mensaje:</label>
                    <select formControlName="Asunto" id="tipo-mensaje" name="tipo-mensaje" required>
                        <option value="Consulta">Consulta</option>
                        <option value="Sugerencia">Sugerencia</option>
                        <option value="Queja">Queja</option>
                    </select>

                    <label for="mensaje">Mensaje:</label>
                    <textarea formControlName="contenido" id="mensaje" name="mensaje" rows="4" required></textarea>
                </div>
                <div class="form-boton">
                    <button (click)="enviarCorreo()" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>