<div class="contenedor">

    <div class="bloque1">
        <h1 class="Titulo centered-title1">BLOG</h1>
    </div>
    <div class="nueva-seccion">
        <div class="texto-nueva-seccion">
          <p>Estimados estudiantes y egresados, reciban un cordial saludo. </p>
          <p>Desde el programa Maestría en Artes se está adelantando 
            el proceso de elección de representación estudiantil, 
            ante el comité de currículo del programa.</p>
            <p>Nos vemos el próximo viernes  24 de marzo 2023. En la elección de firma remota:</p>
            <p style="font-weight: bold;">Conexión por Meet:</p>
            <p><u>meet.google.com/ubg-qijo-sne</u></p>
            <p style="font-weight: bold;"> Estudiantes: 03:00 p,m / Egresados: 05:00 p,m</p>
            <p>¡Agéndate!</p>
        </div>
        <div class="imagen-nueva-seccion">
          <img src="../../../assets/images/blog1.png" alt="Descripción de la otra imagen">
        </div>
    </div>
    <div class="nueva-seccion">
        <div class="imagen-nueva-seccion">
            <img src="../../../assets/images/blog2.jpg" alt="Descripción de la otra imagen">
          </div>
        <div class="texto-nueva-seccion">
          <p style="font-weight: bold;">INVITACIÓN PRESENTACIÓN DE OBRA ESTUDIANTE</p>
          <p>Carlos Fierro Quintero</p>
            <p>Fecha: Viernes 24 de Febrero de 2023</p>
            <p>Hora: 5:00 pm</p>
            <p>Lugar: Fondo Cultural del Café</p>
            <p>¡ Te esperamos ! </p>
        </div>
    </div>
    <div class="nueva-seccion">
        <div class="texto-nueva-seccion">
          <p style="font-weight: bold;">INVITACIÓN PRESENTACIÓN DE OBRA  ESTUDIANTE</p>
          <p>Gustavo Adolfo Arias Arango</p>
            <p>Fecha: Sábado 25 de Febrero de 2023</p>
            <p >Hora: 10:00 am</p>
            <p>Lugar: Pinacoteca - Sede Bellas Artes - Universidad de Caldas</p>
        </div>
        <div class="imagen-nueva-seccion">
          <img style="max-width: 55%;" src="../../../assets/images/blog3.jpg" alt="Descripción de la otra imagen">
        </div>
    </div>
    <!-- contenedero para almacenar dos imagnees pequeñas y una grande-->
    <div class="contenedor1">
        <div class="fila">
            <div class="columna columnaNueva1">
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/blog4.jpg" alt="Imagen 1">
                </div>
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/blog5.jpg" alt="Imagen 2">
                </div>
            </div>
            <div class="columna columnaNueva2">
                <div class="subfila">
                    <img src="../../../assets/images/blog6.jpg" alt="Imagen 1">
                </div>
            </div>
        </div>
    </div>
    <!--Aca debe ir las parte donde se cambia la imagen con la flecha-->
    <div class="nueva-seccion">
      <div class="imagen-nueva-seccion" >
  
      </div>
      <div class="texto-nueva-seccion">
        <p style="font-weight: bold;">PRESENTACIÓN DE OBRA</p>
        <p>Un acercamiento al Hábitat Liquido </p>
        <p>Investigación - Creación</p>
        <p>Alvaro Osorio Galeano</p>
      </div>
  </div>
    <!----------------------------------------------------------------->

    <div class="Informacion">
      <div class="Informacion1">
          <div class="texto">
              <div class="texto-container">
                  <span><h5>PRESENTACION DE LA MAESTRÍA</h5></span>
                  <span>PRESENTACIÓN DE OBRA</span>
                  <span>Un acercamiento al Hábitat Liquido</span>
                  <span>Investigación - Creación</span>
                  &nbsp;
                  <span>ESTUDIANTE: Alvaro Osorio Galeano</span>
                  <span>DIRECTOR DE TESIS:</span>
                  <span>Andrés Mauricio Alzate Santa</span>
                  <span>CENTRO CULTURAL UNIVERSITARIO ROGELIO SALMONA - OTRI</span>
                  <span>Jueves 27 de Octubre de 2022 / 2:00 a 6:00 pm</span>
                  <span>Viernes 28 de Octubre de 2022 /8:00 am a 3:00 pm</span>
                  <span>SUSTENTACIÓN DE TESIS</span>
                  <span>Centro Cultural Universitario Rogelio Salmona - OTRI</span>
                  <span>Viernes 28 de Octubre de 2022 / 5:00 pm</span>
              </div>
          </div>
          <div class="video">
            <video width="100%" height="315" controls>
                <source src="../../../../assets/Videos/video01.mp4" type="video/mp4">
                Tu navegador no soporta la reproducción de videos.
            </video>
        </div>
      </div>
  </div>

  <!----------------------------------------------->
  <div class="lineas"></div>
  <!----------------------------------------------->

  <div class="nueva-seccion">
    <div class="column">
      <img src="../../../assets/images/blog01.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog02.jpg" alt="Imagen 2">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog03.jpg" alt="Imagen 3">
    </div>
  </div>
  <div class="texto-container espacio">
    <span>CONVERSACIÓN CON AGENTES CULTURALES DE LA CIUDAD DE MANIZALES -CALDAS</span>
    <span>Invitados:</span>
    <span>Alejandra Murcia, Alejandro Valencia, Ana María Trujillo, </span>
    <span>Laura Buriticá, Laura Puerta, Manuela López, </span>
    <span>Centro Cultural Universitario Rogelio Salmona - OTRI</span>
    <span>Viernes 28 de Octubre de 2022 / 5:00 pm</span>
  </div>

  <!----------------------------------------------->
 <div class="lineas"></div>
 <!----------------------------------------------->

 <div class="nueva-seccion">
    <div class="column">
      <img src="../../../assets/images/blog04.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog05.jpg" alt="Imagen 2">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog06.jpg" alt="Imagen 3">
    </div>
  </div>
  <div class="texto-container espacio">
    <span>SEMINARIO TEORÍAS ESTÉTICAS CONTEMPORÁNEAS.</span>
    <span>Invitado Fernando Castro Flórez.</span>
    <span>Filósofo, esteta y crítico de arte español.</span>
    <span>Conferencia :"En las redes de la crítica".</span>
  </div>

  <!----------------------------------------------->
  <div class="lineas"></div>
  <!----------------------------------------------->
  <div class="nueva-seccion">
      <div class="column">
        <img src="../../../assets/images/blog07.jpg" alt="Imagen 1">
      </div>
      <div class="column">
        <img src="../../../assets/images/blog08.jpg" alt="Imagen 2">
      </div>
      <div class="column">
        <img src="../../../assets/images/blog09.jpg" alt="Imagen 3">
      </div>
  </div>
  <div class="texto-container espacio">
    <span>CONFERENCIA PERFORMATIVA | COLOQUIO MAESTRÍA EN ARTES</span>
    <span>VIAJES EXPANSIONES.</span>
    <span>CAROLINA MARÍN GÓMEZ | ALIETH ARIANA RAAD MURILLO | NATALIA RIVERA ALVARADO</span>
  </div>

  <!----------------------------------------------->
  <div class="lineas"></div>
  <!-----------------------------------------------

  <div class="slider-box">
    <ul>
      <li>
        <img src="../../../assets/images/blogCar02.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar03.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar04.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar05.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar06.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar07.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar08.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar09.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar10.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar11.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar12.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar13.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar14.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar15.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar16.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar17.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar18.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar19.JPG" alt="">
      </li>
      <li>
        <img src="../../../assets/images/blogCar20.JPG" alt="">
      </li>
    </ul>
  </div>
-->

  <div class="texto-container espacio">
    <span style="font-size: 17px;">Del 19 al 23 de septiembre de 2022 se llevo a cabo el VI Festival 
      Internacional de Arte Contemporáneo, proyecto de proyección del Departamento 
      de Artes Plásticas de la Universidad de Caldas que busca replantear la mirada 
      en torno a las artes en la ciudad. En sus años de trayectoria se ha consolidado 
      como una plataforma que incentiva la producción, circulación y reflexión en 
      torno al arte de nuestro tiempo. En este sentido se trata de un espacio 
      compuesto por prácticas artísticas, pedagógicas, curatoriales y teóricas 
      que activan procesos de cocreación, mediación artística, 
      formación de públicos e intercambio de saberes. 
    </span>
  </div>
 
  <div class="nueva-seccion">
    <div class="imagen-nueva-seccion">
        <img src="../../../assets/images/blog10.jpg" alt="Descripción de la otra imagen">
      </div>
    <div class="texto-nueva-seccion texto10">
      <p class="texto1" style="margin-top: 29px;">Hasta el próximo 10 de noviembre de 2022, estarán abiertas las inscripciones para la cohorte</p>
      <p class="texto1">VIII 2023-1 de la Maestría en Artes de la Facultad de Artes y Humanidades Universidad de</p>
      <p class="texto1">Caldas.</p>
      &nbsp;
      <p class="texto1">+INFORMACIÓN</p>
      <p class="texto1">maestriaenartes@ucaldas.edu.co</p>
      <p class="texto1">606 8781500 Ext:12690</p>
      <p class="texto1">Cel: 311 604 53 75</p>
    </div>
  </div>
  <!----------------------------------------------->
  <div class="lineas"></div>
  <!----------------------------------------------->
  <div class="nueva-seccion">
    <div class="column">
      <img src="../../../assets/images/blog11.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog12.jpg" alt="Imagen 2">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog13.jpg" alt="Imagen 3">
    </div>
  </div>
  <div class="texto-container espacio">
    <span>LECCIÓN INAUGURAL DE LA MAESTRÍA EN ARTES </span>
    <span>INVITADOS: Katherine Collazos, profesora actualmente de la Universidad Nacional (sede Manizales) .</span>
    <span>Samir Varela, profesor en la Universidad de Antioquia.</span>
    <span>Lugar:Auditorio del Centro Cultural Universitario Rogelio Salmona. </span>
  </div>

  <div class="nueva-seccion" style="margin-top: 80px;">
    <div class="column" style="max-width: 40%;">
        <img src="../../../assets/images/blog14.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <div class="row">
        <img src="../../../assets/images/blog15.jpg" alt="Imagen 2">
      </div>
      <div class="row">
        <p>Presentación de obra:</p>
        <p>“CAPRICHO”</p>
        <p>Este es un trabajo de investigación- Creación que se construyo 
          a partir de la inmersión que realizó Mario Andrés en lo que se 
          denominan Barrios populares, arrojando como resultado un documento 
          con abundantes ejemplos que para muchos podrían parecer frecuentes, 
          porque forman parte de la cotidianidad dentro del paisaje urbano  
          de muchas de las ciudades colombianas y latinoamericanas”…
        </p>
      </div>
    </div>
  </div>

  <div class="nueva-seccion">
    <div class="column">
      <img src="../../../assets/images/blog16.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog17.jpg" alt="Imagen 2">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog18.jpg" alt="Imagen 3">
    </div>
  </div>
  <div class="texto-container espacio">
    <span>PRESENTACIÓN DE OBRA</span>
    <span>En medio de sentir. Paisaje sonoro para tuba y medios digitales.</span>
    <span>Tesis: Sentires</span>
    <span>Pastor Jhon Eider Muñoz Cárdenas </span>
  </div>
  <!----------------------------------------------->
  <div class="lineas"></div>
  <!----------------------------------------------->
  <div class="nueva-seccion">
    <div class="column">
      <img src="../../../assets/images/blog19.jpg" alt="Imagen 1">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog20.jpg" alt="Imagen 2">
    </div>
    <div class="column">
      <img src="../../../assets/images/blog21.jpg" alt="Imagen 3">
    </div>
  </div>

  <div class="texto-container espacio textofin">
    <span class="textocasa" style="text-align: center;">CASA DENTRO</span>
    <span class="textocasa" style="text-align: center;">Saberes tradicionales de la domesticidad cotidiana en narrativas de mujer </span>
  </div>

  <div class="texto-container espacio">
    <span>"Una investigación + Creación que busca pensar y reconocer los 
      saberes tradicionales y las practicas cotidianas de las mujeres del 
      municipio de Riosucio, Caldas-Colombia. A lo largo de año y medio (2021-2022), 
      trabajamos con cuatro comunidades: El claret, El salado, Portachuelo y la zona 
      urbana ; en el devenir nos dimos cuenta que en la intimida de cada hogar existen 
      practicas a las que no se les ha dado el lugar que corresponde en la puesta en valor colectivo.
    </span>
    &nbsp;
    <span>Algunos Saberes colectivos tienen que ver con el cuidado de la casa, la familia 
      y los animales, otros son ejercicios en algunas comunidades como, por ejemplo, el 
      oficio del trapiche y la cerámica. Hay saberes que implican un ingreso económico: 
      la cocina tradicional y el tejido; así como aquellos que afirman la autonomia de la 
      comunidad: la custodia de semillas y el cuidado de las huertas medicinales. Todos 
      estos oficios se heredan a las nuevas generaciones y, muchos de ellos , tienden a desaparecer. 
    </span>
    &nbsp;
    <span>En nuestros encuentros, talleres y visitas conocimos todo tipo de casas: casas 
      heredadas que parecen detenidas en el tiempo; casas en transito, remodeladas y pobladas 
      de sueños; casas donde se reune la comunidad y toma deciciones; casas con jardines, animales 
      y chagras; casas que miran y son miradas por los cerros. Las mujeres riosuseñas lideran, 
      cuidan, son hacedoras y sabedoras de practicas cotidianas y poéticas, nos invitan a volver 
      a ver aquello que pasa desapercibido como caminar, bailar y conversar con las plantas mientras se siembra". 
    </span>
  </div>

  <div class="nueva-seccion" style="justify-content: center;">
    <div class="nuevo">
        <a href="https://www.instagram.com/casadentro_/" target="_blank"> <!-- Enlace a la página 1 -->
            <img src="../../../assets/images/blogicon.png" alt="Imagen 1" class="circular-image">
        </a>
        <a href="https://www.instagram.com/reel/CdvQfTFFRoH/" target="_blank"> <!-- Enlace a la página 2 -->
            <img src="../../../assets/images/logo1.png" alt="Imagen 2" class="circular-image">
        </a>
    </div>
    <!-- Otro contenido... -->
</div>


  
</div>

