.icon{
    display: flex;
    width: 120px;
    text-align: center;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    float: left;
    
}
.colorN{
    background-color: #424242;
}
.logo-title{
    float: right;
}
.container{
    display: flex;
    float: left;
    height: 50px;
    width: 180px;
}
.container span{
    font-family:Times New Roman, serif;
    font-size: 30px;
}

/*--------------------------------------------*/
.none{
    background-color: rgb(53, 52, 52);
}
.opciones {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none; 
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido supera el ancho máximo */
}
.opciones li {
    display: none;
}
.opciones li.none {
    display: block;
}
.opciones.show {
    display: flex;
}

.maestria:hover .opciones { 
    display: flex; 
}
.blog:hover .opciones { 
    display: flex; 
}


