<div class="contenido">
    <div class="bloque1">
        <div class="Titulo">
            <h1>METODOLOGIA</h1>
        </div>
    </div>
   
    <div class="row" id="row2">
        <p>La Maestría tiene una modalidad en investigación (y por su naturaleza,
            en investigación-creación). De tal manera, el estudiante podrá 
            presentar un proyecto en cualquiera de los dos campos: investigación 
            teórica o investigación-creación (que busca la configuración de obra). 
            Durante el desarrollo del posgrado, el estudiante estará vinculado a 
            seminarios de fundamentación, de investigación y electivos. 
            El proyecto de tesis se presenta en segundo semestre y, posteriormente, 
            le es designado un director de tesis. Las sesiones están programadas 
            cada 15 días, aunque en ocasiones, como, por ejemplo, durante el Festival 
            Internacional de la Imagen, el Festival Internacional de Arte Contemporáneo 
            o el Coloquio Internacional en Investigación – Creación en Artes Escénicas 
            (que son de una semana), el estudiante 
            puede ver créditos a través de la participación en estos eventos.</p>
    </div>
    <div class="lineas">

    </div>
    <div class="row" id="row3">
        <img src="../../../assets/images/mtgia1.png" alt="Imagen de ejemplo">
    </div>
    <div class="lineas">

    </div>
</div>