<div class="cotenedor">
    <div class="bloque1">
        <h1 class="Titulo centered-title1">SEMINARIOS</h1>
    </div>
    <div class="contenedor">
        <div class="fila">
            <div class="columna">
                <div class="subfila">
                    <h1>SEMINARIO TALLER DE OBRA II, ORIENTADO POR EL DOCENTE CARLOS ARTURO MARTINEZ</h1>
                </div>
                <div class="subfila">
                    <img src="../../../assets/images/sem1.jpg" alt="Imagen 1">
                </div>
            </div>
            <div class="columna">
                <div class="subfila">
                    <img class ="imagenes2" src="../../../assets/images/sem2.jpg" alt="Imagen 1">
                </div>
                <div class="subfila">
                    <img class ="imagenes2" src="../../../assets/images/sem3.jpg" alt="Imagen 2">
                </div>
            </div>
        </div>
    </div>

    <div class="lineas">
    </div>

    <div class="contenedor">
        <div class="fila">
            <div class="columna columnaNueva1">
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/sem4.jpg" alt="Imagen 1">
                </div>
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/sem5.jpg" alt="Imagen 2">
                </div>
            </div>
            <div class="columna columnaNueva2">
                <div class="subfila">
                    <h1>SEMINARIO TEORÍAS ESTÉTICAS CONTEMPORÁNEAS COHORTE VII, ORIENTADO POR EL  DOCENTE PEDRO ANTONIO ROJAS .</h1>
                </div>
                <div class="subfila">
                    <img src="../../../assets/images/sem6.jpg" alt="Imagen 1">
                </div>
            </div>
        </div>
    </div>

    <div class="lineas">
    </div>

    <div class="contenedor">
        <div class="fila">
            <div class="columna">
                <div class="subfila">
                    <h1>SEMINARIO TALLER DE OBRA, ORIENTADO POR LA DOCENTE MARIBELL CIÓDARO PÉREZ.</h1>
                </div>
                <div class="subfila">
                    <img src="../../../assets/images/sem7.jpg" alt="Imagen 1">
                </div>
            </div>
            <div class="columna">
                <div class="subfila">
                    <img class ="imagenes2" src="../../../assets/images/sem8.jpg" alt="Imagen 1">
                </div>
                <div class="subfila">
                    <img class ="imagenes2" src="../../../assets/images/sem9.jpg" alt="Imagen 2">
                </div>
            </div>
        </div>
    </div>

    <div class="lineas">
    </div>

    <div class="contenedor">
        <div class="fila">
            <div class="columna columnaNueva1">
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/sem10.jpg" alt="Imagen 1">
                </div>
                <div class="subfila">
                    <img class="imagenes2" src="../../../assets/images/sem11.jpg" alt="Imagen 2">
                </div>
            </div>
            <div class="columna columnaNueva2">
                <div class="subfila">
                    <h1>SEMINARIO  INVESTIGACIÓN – CREACIÓN II, ORIENTADO POR LA DOCENTESANDRA JOHANA SILVA CAÑAVERAL</h1>
                </div>
                <div class="subfila">
                    <img src="../../../assets/images/sem12.jpg" alt="Imagen 1">
                </div>
            </div>
        </div>
    </div>

    <div class="lineas">
    </div>
    

</div>
