<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<footer class="page-footer color">
    <div class="container">
        <div class="contenido">
            <div class="titulo">
                <h1>Info</h1>
            </div>
            <span>Ubicación: Calle 65 No 26 - 10, Universidad de Caldas, sede central</span>
            <span>Edificio Orlando Sierra piso 4</span>
            <span>Director: Adolfo León Grisales Vargas</span>
            <span>Secretaria: Flor Doralba Grisales Cuestas</span>
            <span>Teléfono: 8781500 exte: 12690</span>
            <span>Móvil: 311 604 53 75</span>

            <div class="iconos">
                <i class="small material-icons">language</i>
                <i class="small material-icons">sentiment_very_satisfied</i>
                <i class="small material-icons">share</i>
                <i class="small material-icons">stars</i>
            </div>

        </div>

      
    </div>
    <div class="footer-copyright">
      <div class="container">
        <img class="imagen" src="../../../../assets/images/Untitled.png" alt="">
      </div>
    </div>
</footer>