<div class="colum">
    <div class="bloque1">
        <h1 class="Titulo centered-title1">PROCESO DE ADMISION</h1>
    </div>
    <div class="col col-1">
        <h1 class="TITULOp">REQUISITOS DE INGRESO </h1>
        <p class="centered-text">
            Todo aspirante a un programa de posgrado en la Universidad de Caldas, 
            deberá poseer un título profesional y cumplir con el proceso de inscripción, 
            calendario y documentos establecidos por la Universidad para tal fin.
        </p>
        <p class="centered-text">
            Para la Maestría en Artes, el título de pregrado puede ser en Artes Plásticas 
            o Visuales, Artes Performáticas, Arquitectura, Diseño, Ciencias Sociales, Humanísticas o afines.
        </p>
    </div>
    <div class="col col-3">
        <div class="split-container">
            <div class="circolo-container">
                <div class="circulo">
                    <h1 class="titleCircle centered-title">01</h1>
                </div>
            </div>
            <div class="right-side">
                <p>
                    Hoja de vida.
            </div>
        </div>
    </div>
    <div class="col col-4">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">02</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
                Presentación de anteproyecto de Investigación teórica o Investigación-creación, 
                no mayor de 2.500 caracteres, en el que se pueda leer su experiencia previa 
                y las motivaciones que lo/la llevan a estudiar la Maestría.
            </p>
        </div>
    </div>
    <div class="col col-5">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">03</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
                Entrevista con el comité asesor de la Maestría.
            </p>
        </div>
    </div>

    <div class="lineas">

    </div>
    
</div>