<div class="colum">
    <div class="bloque1">
        <h1 class="Titulo centered-title1">OBJETIVOS</h1>
    </div>
    <div class="col col-1">
        <p class="centered-text">
            El programa de Maestría en Artes, propone, desde una concepción
            pluralista y multidisciplinar, el desarrollo de proyectos de investigación 
            y creación artística (relacionados con las artes plásticas, visuales, performativas o mediales), 
            a través de los cuales, el estudiante hace un aporte fundamental al arte en el mundo contemporáneo.
        </p>
    </div>
    <div class="col col-2">
        <div class="circles-container">
            <div class="circle">
                <H1 class="titleCircle centered-title">CAPACITAR</H1>
            </div>
            <div class="circle">
                <h1 class="titleCircle centered-title">PROMOVER</h1>
            </div>
            <div class="circle">
                <h1 class="titleCircle centered-title">GUIAR</h1>
            </div>
            <div class="circle">
                <h1 class="titleCircle centered-title">MOTIVAR</h1>
            </div>
        </div>
    </div>
    <div class="col col-3">
        <div class="split-container">
            <div class="circolo-container">
                <div class="circulo">
                    <h1 class="titleCircle centered-title">1</h1>
                </div>
            </div>
            <div class="right-side">
                <p>
                    El objetivo de esta capacitación es preparar a los estudiantes para identificar, comprender, 
                    aplicar y evaluar las teorías que sustentan las artes contemporáneas desde una perspectiva multidisciplinaria. 
                    Esto implica el análisis de obras de arte en su contexto histórico y cultural, así como la conexión de estas 
                    teorías con disciplinas relacionadas. Los estudiantes también desarrollarán habilidades para aplicar estas teorías 
                    en la práctica artística contemporánea y para participar en debates críticos en este campo. 
            </div>
        </div>
    </div>
    <div class="col col-4">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">2</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
                Estimular la capacidad del estudiante para llevar a cabo investigaciones o proyectos 
                de investigación-creación en el ámbito de los estudios artísticos contemporáneos. 
                Los estudiantes aprenderán a aplicar metodologías relevantes, analizar datos y contribuir 
                al discurso del arte actual. Se fomenta la creatividad, permitiendo a los estudiantes no solo investigar, 
                sino también crear obras de arte que enriquezcan el panorama artístico contemporáneo. 
            </p>
        </div>
    </div>
    <div class="col col-5">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">3</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
                Brindar orientación al estudiante para que pueda realizar una reflexión crítica y 
                contextualizada de su propuesta de creación artística. Esta reflexión se concibe como una evidencia 
                de sus fundamentos de investigación. Los estudiantes aprenderán a analizar y evaluar críticamente sus 
                obras artísticas, situándolas en un contexto relevante. 
                Esto implica comprender cómo su creación refleja las premisas investigativas que subyacen en su trabajo.
            </p>
        </div>
    </div>
    <div class="col col-6">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">4</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
               Fomentar en el estudiante, y en el egresado una vez finalizado, las capacidades esenciales 
               para asumir roles tanto en la enseñanza a nivel superior, especialmente en programas de posgrado, 
               como en la gestión dentro del ámbito de las industrias culturales. Los estudiantes desarrollarán 
               habilidades pedagógicas avanzadas que les permitirán desempeñarse como docentes en instituciones 
               de educación superior, compartiendo su conocimiento y experiencia en el ámbito de las artes y la 
               cultura. Además, se les proporcionará la formación y las competencias necesarias para desempeñar 
               roles de gestión en organizaciones relacionadas con las industrias culturales, 
                facilitando así su contribución al desarrollo y la promoción de la cultura en la sociedad.
            </p>
        </div>
    </div>
    <div class="col col-7">
        <div class="circolo-container">
            <div class="circulo">
                <h1 class="titleCircle centered-title">5</h1>
            </div>
        </div>
        <div class="right-side">
            <p>
                El propósito de esta iniciativa es inspirar y motivar al estudiante a proseguir con sus 
                estudios de formación doctoral. Buscamos proporcionar a los estudiantes la orientación, 
                el apoyo y la inspiración necesarios para que consideren y persigan la continuación de 
                su educación en el nivel de doctorado. A través de mentoría, recursos académicos y 
                oportunidades de investigación, se pretende despertar su interés y compromiso en la investigación avanzada, 
                y así, facilitar su desarrollo académico y profesional en campos específicos de estudio.
            </p>
        </div>
    </div>
</div>