<div class="contenedor">
    <div class="bloque1">
        <h1 class="Titulo centered-title1">TESIS / INVESTIGACIÓN Y CREACIÓN</h1>
    </div>
    
    <div class="nueva-seccion">
        <p class="TITULOS">COHORTE V</p>
    </div>

    <div class="nueva-seccion">
        <div class="columna1">
            <p>NOMBRE TESISTA:</p>
            <p>Alejandro Castaño González</p>
            <p>NOMBRE ASESOR:</p>
            <p>Valentina Mejía Amézquita</p>
            <p>NOMBRE DE LA TESIS:</p>
            <p>Ciudad Vestigio</p>
        </div>
        
        <div class="columna2 boton-container">
            <!-- Botón en la parte inferior derecha -->
            <button class="boton">Mi Botón</button>
        </div>
    </div>
    <div class="TextoDesplegable">
        <p>tecto desplegable</p>
    </div>
</div>
